<div class="container mt-5">
    <!-- Login Info -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <span><strong>Login: </strong>matheus.kunn896@gmail.com</span>
        <a href="#" class="btn btn-outline-info btn-sm">ALTERAR SENHA</a>
    </div>

    <!-- Form 1 -->
    <form>
        <!-- Nome -->
        <div class="mb-3">
            <label for="nome" class="form-label">name:</label>
            <input type="text" class="form-control" id="nome" value="E">
        </div>

        <!-- Email de contato -->
        <div class="mb-3">
            <label for="email" class="form-label">Contact email:</label>
            <input type="email" class="form-control" id="email" value="matheus.kunn896@gmail.com">
        </div>

        <!-- Nome -->
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <!-- Confirmar Button -->
        <div class="mb-3 text-center">
            <button type="submit" class="btn btn-primary">Confirmar</button>
        </div>
    </form>


    <form>

    <!-- ACADEMIC BACKGROUND -->
    <form>
        <!-- Major -->
        <div class="mb-3">
            <label for="nome" class="form-label">Major:</label>
            <input
            required type="text" class="form-control" id="nome" value="E">
        </div>

        <!-- Institution -->
        <div class="mb-3">
            <label for="nome" class="form-label">Institution:</label>
            <input
            required type="text" class="form-control" id="nome" value="E">
        </div>

        <!-- Arrival date -->
        <div class="mb-3">
            <label for="nome" class="form-label">Arrival date:</label>
            <input
            required type="date" class="form-control" id="nome" value="E">
        </div>

        <!-- Arrival date -->
        <div class="mb-3">
            <label for="nome" class="form-label">Departure date:</label>
            <input type="date" class="form-control" id="nome" value="E">
        </div>

        <!-- Description -->
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <!-- Confirmar Button -->
        <div class="mb-3 text-center">
            <button type="submit" class="btn btn-primary">Confirmar</button>
        </div>
    </form>

    <!-- PROFISSINAL EXPERIENCE -->
    <form>
        <!-- Position -->
        <div class="mb-3">
            <label for="nome" class="form-label">Position:</label>
            <input
            required type="text" class="form-control" id="nome" value="E">
        </div>

        <!-- Enterprise -->
        <div class="mb-3">
            <label for="nome" class="form-label">Enterprise:</label>
            <input
            required type="text" class="form-control" id="nome" value="E">
        </div>

        <!-- Arrival date -->
        <div class="mb-3">
            <label for="nome" class="form-label">Arrival date:</label>
            <input
            required type="date" class="form-control" id="nome" value="E">
        </div>

        <!-- Arrival date -->
        <div class="mb-3">
            <label for="nome" class="form-label">Departure date:</label>
            <input type="date" class="form-control" id="nome" value="E">
        </div>

        <!-- Description -->
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <!-- Confirmar Button -->
        <div class="mb-3 text-center">
            <button type="submit" class="btn btn-primary">Confirmar</button>
        </div>
    </form>

</div>