<div class="container">


    {{#if error}}
        <div class="alert alert-danger" role="alert">
        {{#each error}}
            {{this}}
        {{/each}}
        </div>
    {{/if}}

                <div class="card-header text-black content-center">
                    <h4 class="mb-0">Show us your project!</h4>
                </div>


    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <form method="post" action="/posts/project/create" enctype="multipart/form-data">

                    <div class="mb-3">
                        <label for="titulo" class="form-label">Project title</label>
                        <input
                        required type="text" class="form-control" id="titulo" placeholder="Título do projeto" value="titulo">
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="input1">Github link</label>
                            <input
                            required type="text" class="form-control" id="input1" placeholder="https://github.com/your-name/project-name" value="titulo">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="input2">Site link (optional)</label>
                            <input
                            type="text" class="form-control" id="input2" placeholder="deploy link">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="situacao" class="form-label">Situação do projeto:</label>
                        <select class="form-select" id="situacao">
                            <option selected>Em desenvolvimento</option>
                            <option>concluido</option>
                            <!-- Outras opções podem ser adicionadas aqui -->
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="imagem" class="form-label">Imagem:</label>
                        <input name="image"
                        class="form-control" type="file" id="imagem">
                    </div>

                    <div class="mb-3">
                        <label for="resumo" class="form-label">Resumo do projeto:</label>
                        <textarea class="form-control" id="resumo" rows="4" placeholder="Resumo do projeto"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Postar</button>

                </form>
            </div>
        </div>


        
    </div>



</div>


