<div class="container">
    <h1>Create your own article :)</h1>
    
    <form method="post" action="/posts/article/create">
        <textarea id="mytextarea" name="content">Hello, World!</textarea>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
</div>


